* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #d9d9d9;
}

/* topo escuro */

.header {
  background: #0d0f14;
  color: white;
  padding: 80px 0 140px 0;
  text-align: center;
  height: 368px;
}

.header-title {
  text-align: left;
  width: 700px;
  color: white;
}
.header h1 {
  margin: 0;
  font-size: 34px;
  letter-spacing: 1px;
}

.header p {
  margin-top: 10px;
  color: #cfcfcf;
}

/* card */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}

.card {
  width: 700px;
  background: #e9e9ec;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.card-body {
  padding: 40px;
}

.card-body h2 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #3c3c50;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #5a5a5a;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  height: 120px;
  resize: none;
}

/* footer do card */

.card-footer {
  padding: 30px 40px;
  background: #e3e3e6;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: #e31313;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #c90f0f;
}
